
//Variables
$bg-color-main: #FFFFFF;
$bg-color-app: #668663;
$f-app: Roboto;



$bg-color-navItem: #435F40;
$text-col-navItem: #F3DBC7;
$bg-color-navItem-hov: #FFFFFF;
$text-col-navItem-hov: #435F40;
$f-size-navItem: 19px;

$bg-color-card: #F3DBC7;
$color-beige-card: #DCB18B;

$color-dark-head:#484848;

$border-rad: 25px;

//font-family: Roboto;
//font-style: normal;
//font-weight: 500;
//font-size: 19px;
//line-height: 22px;
//text-align: center;